{% extends "base.html" %}

{% block title %}SSH_POT Information{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Información sobre las conexiones{% endif %}{% endblock %}

{% block content %}

  <div class="col-md-4">
      <p>Usuarios únicos usados</p>
      <h2>{{data.username_count}}</h2>
  </div>
  <div class="col-md-4">
      <p>Passwords únicos usados</p>
      <h2>{{data.password_count}}</h2>
  </div>
  <div class="col-md-4">
      <p>Clientes únicos detectados</p>
      <h2>{{data.client_count}}</h2>
  </div>
<br>
<div class="col-md-12"><h3>Top información conexiones</h3></div>

    <div class="col-md-4">
        <table class="table table-condensed table-striped" style="table-layout:fixed;">
          <tr>
          <th style="width: 85%;">Username</th>
          <th align="right">#</th>
      </tr>
      {% for username in data.top_usernames %}
        <tr>
            <td>{{ username.username }}</td>
            <td align="right">{{ username.ct }}</td>
        </tr>
      {% endfor %}
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-condensed table-striped" style="table-layout:fixed;">
          <tr>
          <th style="width: 85%;">Password</th>
          <th align="right">#</th>
      </tr>
      {% for password in data.top_passwords %}
        <tr>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ password.password }}</td>
            <td align="right">{{ password.ct }}</td>
        </tr>
      {% endfor %}
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-condensed table-striped" style="table-layout:fixed;">
          <tr>
          <th style="width: 85%;">Clientes</th>
          <th align="right">#</th>
      </tr>
      {% for client in data.top_clients %}
        <tr>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ client.remote_version }}</td>
            <td align="right">{{ client.ct }}</td>
        </tr>
      {% endfor %}
        </table>
    </div>

{% endblock %}
