{% extends "base.html" %}

{% block title %}SSH_POT Information{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Inicio{% endif %}{% endblock %}

{% block content %}
  <div class="col-md-12">
  <h3>Últimos comandos de conexiones</h3>
  {% if data.latest_commands %}
    <table class="table table-condensed">
      <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Command</th>
      </tr>
      {% for command in data.latest_commands %}
        <tr>
            <td>{{ command.username }}</td>
            <td>{{ command.password }}</td>
            <td>{{ command.command }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No hay conexiones disponibles yet.</p>
  {% endif %}
  </div>

  <div class="col-md-12">
  <h3>Últimos países de las conexiones</h3>
  {% if data.latest_countries %}
    <table class="table table-condensed">
      <tr>
          <th>Address</th>
          <th>Country</th>
          <th>ISO</th>
          <th>ASN code</th>
          <th>ASN org</th>
          <th>Nº blacklists</th>
          <th>Nivel de riesgo</th>
      </tr>
      {% for country in data.latest_countries %}
        <tr>
            <td><a href="{% if country.address %}{{ url_for('ip_detail', address=country.address)}}{% else %}{{ url_for('index')}}{% endif %}">
                {{ country.address }}</a></td>
            <td>{{ country.iso_code }}</td>
            <td>{{ country.country }}</td>
            <td>{{ country.asn_number }}</td>
            <td>{{ country.asn_organization }}</td>
            <td>{{ country.blacklist_count }}</td>
            <td>{{ country.threat_level }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No hay conexiones disponibles yet.</p>
  {% endif %}
  </div>

  <div class="col-md-12">
  <h3>Últimas muestas obtenidas</h3>
  {% if data.latest_samples %}
    <table class="table table-condensed">
      <tr>
          <th>Nombre</th>
          <th>URL</th>
          <th>SHA256</th>
      </tr>
      {% for sample in data.latest_samples %}
        <tr>
            <td>{{ sample.name|clean_sample_url }}</td>
            <td>{{ sample.url }}</td>
            <td><a href="{% if sample.sha256sum %}{{ url_for('sample_detail', sha256=sample.sha256sum)}}{% else %}{{ url_for('samples')}}{% endif %}">
                {{ sample.sha256sum }}</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No hay conexiones disponibles aún.</p>
  {% endif %}
  </div>


{% endblock %}
