{% extends "base.html" %}

{% block title %}SSH_POT Information{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Información sobre la muestra {% endif %}{% endblock %}

{% block content %}
  {% if sample %}
  <p><strong>Nombre binario:</strong> {{ sample.name }}</p>
    <p><strong>Fecha de detección:</strong> {{ sample.timestamp }}</p>
    {% if sample.positives and sample.total %}
      <p><strong>Detecciones: </strong>{{ sample.positives}}/{{sample.total}}</p>
    {% endif %}

    <p><strong>Hashes de la muestra</strong></p>

    <table class="table table-condensed">
      <tr>
          <th>md5</th><td>{{sample.md5sum}}</td>
      </tr>
      <tr>
          <th>sha1</th><td>{{sample.sha1sum}}</td>
      </tr>
      <tr>
          <th>sha256</th><td>{{sample.sha256sum}}</td>
      </tr>
    </table>

    {% if sample.vt_link %}
      <h3>Virustotal</h3>
      <p><a href="{{ sample.vt_link }}" target="_blank">Link a virustotal</a></p>
    {% endif %}

    {% if sample.raw_result %}
      <pre name="" id="myTextarea" ></pre>
    {% endif %}

  {% else %}
    <p>No existe información detallada</p>
  {% endif %}

<script>
    var myData ={{sample.raw_result|safe}};
    var textedJson = JSON.stringify(myData, undefined, 4);
    $('#myTextarea').text(textedJson);
</script>





{% endblock %}
